<section id="masyarakat" class="h-screen bg-gray-100">
  {% include "accounts/partials/tables/account.html" with table=masyarakat_table %}
</section>

<section id="petugas" class="h-screen bg-white">
    {% include "accounts/partials/tables/account.html" with table=petugas_table %}
</section>

<section id="services" class="h-screen flex items-center justify-center bg-gray-100">
  <h1 class="text-4xl font-bold">Services</h1>
</section>

<section id="contact" class="h-screen flex items-center justify-center bg-white">
  <h1 class="text-4xl font-bold">Contact</h1>
</section>